.papeldeparede {
	background: rgb(12, 29, 51);
}

.tamanho {
	background: transparent;
	width: 600px;
	height: 430px;
	position: absolute;
	top: 80px;
	left: 440px;

}

.pincel {
	background-color: #46798b;
}

.pincel {
	background-color: rgb(72, 128, 128);
}

.criarcanvas {
	
	background-color: rgba(67, 73, 148, 0.493);
}

.botaoini {
	position: absolute;
	top: 200px;
	right: 655px;
	background: burlywood;
}

.botaoini p:active {
	font-size: 14px;
}

.botaoadi {
	position: absolute;
	top: 250px;
	right: 595px;
	background: burlywood;
}
.botaonovojogo {
	background: #483D8B;
	font-size: 12px;
	border: 10px;
	border-radius: 15px;
	background-color: writer;
	color: #ffffff;
	padding: 15px;
    position: absolute;
    top: 520px;
    left: 450px;
	margin: 14 1 1 1;
    font-weight: bold;
}

.botaodesistir {
	background: #483D8B;
	font-size: 12px;
	border: 10px;
	border-radius: 15px;
	background-color: writer;
	color: #ffffff;
	padding: 15px;
    position: absolute;
    top: 520px;
    right: 310px;
	margin: 14 1 1 1;
    font-weight: bold;
	color: #5a4724ea";
}


footer {
	position: absolute;
	width: 100%;
	top: 600px;
	text-align: center;
	line-height: 180px;
	background: linear-gradient(#778899, #3b3307);
}
